@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font: 'Lato', sans-serif;
    --danger-color: rgba(205, 47, 27, 1);
    --primary-filled-button-color: rgba(24, 82, 157, 1);
    --primary-filled-button-hover: rgba(24, 82, 157, 0.9);
    --secondary-filled-button-color: rgba(28, 123, 61, 1);
    --secondary-filled-button-hover: rgba(28, 123, 61, 0.9);
    --light-gray: rgba(200, 199, 204, 1);
    --input: rgba(113, 111, 122, 1);
    --input-focus: rgba(22, 75, 143, 1);
    --table-item: rgba(28, 123, 61, 0.2);
    --book-info-container-color: rgba(232, 238, 245, 1);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
}

main {
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.appButton {
    border: none;
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background: var(--primary-filled-button-color);
}

.appButton:hover {
    background: var(--primary-filled-button-hover);
    cursor: pointer;
}

.appButton:disabled {
    background: gray;
}

.dangerZoneButtons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.dangerButton,
.dangerButtonOutlined {
    padding: 0.75rem;
    border-radius: 0.4rem;
    width: 100%;
    font-size: 1rem;
}

.dangerButton {
    background: var(--danger-color);
    border: none;
    color: white;
}

.dangerButtonOutlined {
    border: 1px solid var(--danger-color);
    background: none;
    color: red;
}

.dangerButtonOutlined:hover {
    cursor: pointer;
}

.bookImage {
    width: 15rem;
    height: 18rem;
    border-radius: 1rem;
}

.noBookImage {
    background: var(--light-gray);
    width: 15rem;
    height: 18rem;
    border-radius: 1rem;
}

.bookInfoDiv {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    padding-left: 5rem;
}

.studentsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.passwordField {
    display: flex;
    align-items: center;
}

.passwordField>*:first-child {
    flex-grow: 1;
}

.passwordField>*:last-child {
    margin-left: 10px;
}

@media (max-width: 1200px) {
    main {
        padding: 1rem;
    }

    h1 {
        text-align: start;
        font-size: 2rem;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.3rem;
    }

    .bookImage {
        height: 13.125rem;
        width: 10.125rem;
    }

    .noBookImage {
        height: 13.125rem;
        width: 10.125rem;
    }

    .bookInfoDiv {
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
