@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --font: 'Lato', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--font);
}

main {
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.bookImage {
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
}

.noBookImage {
  background: grey;
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
}

.bookInfoDiv {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  padding-left: 5rem;
}

@media (max-width: 1200px) {
  h1 {
    text-align: start;
    font-size: 2rem;
    margin-bottom: 0;
  }
}
