.inputContainer {
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
    padding: 1rem;
}

.input::placeholder {
    color: gray;
    font-weight: 500;
}

.input:focus {
    border: 1px solid blue;
    padding: 1rem;
    border-radius: 1rem;
}

.errorMessage {
    margin-top: 0.4rem;
    margin-left: 1rem;
    color: red;
    font-size: 0.8rem;
}

@media (max-width: 1200px) {
    .input {
        border: 0.5px solid blue;
        font-size: 1.2rem;
        border-radius: 0.6rem;
        padding: 0.5rem;
    }

    .input::placeholder {
        color: gray;
        font-weight: 500;
    }

    .input:focus {
        padding: 0.5rem;
        border-radius: 0.6rem;
    }

    .errorMessage {
        font-size: 0.7rem;
        margin-left: 0.8rem;
    }
}
