.inputContainer {
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    font-size: 1.2rem;
    color: var(--input-focus);
    font-weight: 400;
    padding: 1rem;
}

.input::placeholder {
    color: var(--input);
    font-weight: 500;
}

.input:focus {
    outline: none;
    padding: 1rem;
}

.errorMessage {
    margin-top: 0.4rem;
    margin-left: 1rem;
    color: red;
    font-size: 0.8rem;
}

@media (max-width: 1200px) {
    .input {
        border: 0.5px solid var(--input);
        font-size: 1.2rem;
        border-radius: 0.6rem;
        padding: 0.5rem;
    }

    .input::placeholder {
        color: var(--input);
        font-weight: 500;
    }

    .input:focus {
        outline: 1px solid var(--input-focus);
        padding: 0.5rem;
        border-radius: 0.6rem;
    }

    .errorMessage {
        font-size: 0.7rem;
        color: var(--danger-color);
        margin-left: 0.8rem;
    }
}
