.navBarDiv {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.routesDiv {
    align-items: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.navButton {
    text-decoration: none;
}

.innactiveNavButton {
    color: var(--light-gray);
}

.activeNavButton {
    color: var(--primary-filled-button-color);
}

.navButton:hover {
    color: var(--primary-filled-button-hover);
}

.selectedNavButton {
    color: var(--primary-filled-button-color);
    text-decoration: none;
}

.addButton {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    background: var(--secondary-filled-button-color);
    border-radius: 1rem;
    padding: 0.75rem;
}

.addButton:hover {
    background: var(--secondary-filled-button-hover);
}

@media (max-width: 1200px) {
    .navBarDiv {
        flex-direction: column;
        justify-content: center;
    }

    .routesDiv {
        position: fixed;
        bottom: 0;
        width: 90%;
        font-size: 1rem;
        z-index: 1;
        background: white;
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding: 0.4rem;
    }

    .addButton {
        padding: 0.8rem;
    }
}
