.fieldsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1.5rem;
}

.forgotPassword {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
    text-decoration: none;
    color: var(--secondary-filled-button-hover);
}

.navigate2 {
    text-decoration: none;
    text-align: center;
    color: var(--input-focus);
}
