.bookContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.infoContainer {
    position: absolute;
    background-color: var(--book-info-container-color);
    color: black;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bookTitle {
    font-size: 1.3rem;
    font-weight: 600;
}

.info {
    font-size: auto;
}

@media (max-width: 1200px) {
    .bookContainer {
        height: 13.125rem;
        width: 10.125rem;
    }

    .infoContainer {
        border-radius: 0.6rem;
    }

    .bookTitle {
        font-size: 1rem;
        font-weight: 600;
    }

    .info {
        font-size: 0.8rem;
    }
}
