.booksGrid {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .booksGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-bottom: 4rem;
    }
}
