.booksGrid {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .booksGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-bottom: 4rem;
    }
}
