.headerContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.bookInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 1rem;
}

.bookImage {
  background: grey;
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
}
